body{
    background-color: #f7ece1;
    font-family: 'Rubik', sans-serif;
    color:#242038;
    text-align: center;
}

h1{
    font-size: 36px;
}
p{
    font-size: 24px;
    max-width: 60%;
}
.flex-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding-top: 15%;
    padding-bottom: 15%;
}
.flex-item{
    flex: auto;
}

.btn {
    --b: 3px;   /* border thickness */
    --s: .15em; /* size of the corner */
    --c: #725AC1;
    
    padding: calc(.05em + var(--s)) calc(.3em + var(--s));
    color: var(--c);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .2em;
}
.btn:hover,.btn:focus-visible{
    --_p: 0px;
    outline-color: var(--c);
    outline-offset: .05em;
}
.btn:active {
    background: var(--c);
    color: #fff;
}
.btn {
    font-size: 2rem;
    cursor: pointer;
    border: none;
    margin: .1em;
    color: #242038
}
.btn:hover{
    color: #f7ece1;
    background-color: #725AC1;
    transition: .3s ease-in;
    
}